
.detail {
  padding: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detail.light {
  background-color: #ffffff;
  color: #000000;
}
.detail.dark {
  background-color: #121212;
  color: #ffffff;
}
.detail-container {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 300px;
  text-align: left;
}

.detail-container a {
  color: #007bff;
  text-decoration: none;
}

.detail-container a:hover {
  text-decoration: underline;
}